# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
Share
Improve this answer
Follow
edited Jan 24, 2014 at 15:40

Stephen Fuhry
11.7k66 gold badges5151 silver badges5555 bronze badges
answered Dec 27, 2012 at 16:58

seanrose
7,07533 gold badges1818 silver badges2121 bronze badges
1
why should we ignore *.mo files? just for 